---
import ExperienceItem from "./ExperienceItem.astro"


/*arriba los mas nuevo*/ 
const EXPERIENCE = [

    {
        date: 'Actualmente...',
        title: 'Ingeniero de Software en eProsima.',
        description: 'Open source DDS middleware para robots #ROS 2 y microcontroladores #microROS - #FastDDS (#FastRTPS) & #microXRCEDDS',
        
    },
    {
        date: '2020-2024',
        title: 'Grado en Ingeniería Informática (UCM)',
        description: 'En la Universidad Complutense de Madrid, cursé el itinerario de Computación del grado de Ingeniería Informática de la facultad de informática. Durante 4 años desarrollé mis habilidades en diversas áreas clave de la informática, con un enfoque particular en la inteligencia artificial, programación competitiva y computación de alto rendimiento.',
        link: 'https://informatica.ucm.es/estudios/grado-adeinginformatica'
    },

    /*{
        date: 'February 2022',
        title: 'PRUEBA',
        description: 'Get access to over 20+ pages including a dashboard layout, charts, kanban board, calendar, and pre-order E-commerce & Marketing pages',
        link: '#'        
    }*/

    
]
---



<ol class="relative border-s border-gray-200 ml-3">   
    
    {
        EXPERIENCE.map(experience => (
            <li class="mb-10 ms-4">
               <ExperienceItem {... experience} />
            </li>
        ))
    }
    
    
</ol>

