---
import English from "../icons/English.astro";
---

<header class="flex justify-between items-center py-5 w-full xl:w-[1120px] mx-auto">
   
    <!--
    <img 
    class="rounded-full w-12 h-12"
    src="https://avatars.githubusercontent.com/u/98972125?v=4" 
    alt="dani photo" 
    />
    -->

    <!-- Centered Navigation Links -->
    <nav class="flex flex-1 justify-center gap-x-10 opacity-80">
        <a href="#top">Inicio</a> 
        <a href="#experiencia">Experiencia</a>        
        <a href="#proyectos">Proyectos</a> 
        <a href="#sobre-mi">Sobre mi</a> 
    </nav>

    <a href="/en" class="flex items-center ml-auto opacity-80">
        <English /> 
        <span class="ml-2">English</span>
    </a>
</header>
