---
 const personalImageAlt = "Daniel Pizarro"
---

<article class="text-lg mb-3 text-pretty">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
        Hola, soy Daniel Pizarro pero mis amigos me llaman Danny. 
        Soy un apasionado recién graduado en <strong>Ingeniería Informática de 22 años</strong>, a falta de presentar 
        mi Trabajo de Fin de Grado. Empecé en la programación con <strong><em class="italic">Scratch y Codecombat</em> cuando tenía 15 años
        en 4 de la ESO</strong>, despertando mi interés en mi en la programación.               
    </p>
    <p>
        Mi fascinación por la tecnología y la resolución de problemas me condujo a <strong>especializarme 
        en Inteligencia Artificial y algoritmos</strong>, disciplinas que considero combinan de manera óptima 
        el desafío intelectual y la creatividad. Me apasiona colaborar en equipo, ya que valoro enormemente 
        el intercambio de ideas y considero que el trabajo en conjunto es fundamental para el desarrollo de 
        soluciones innovadoras.
    </p>
    <p>
        Fuera del ámbito académico, me gusta <strong>practicar deportes</strong> como el pádel o el voleibol, 
        o <strong>jugar videojuegos </strong> con amigos o en solitario. Además, disfruto resolviendo problemas 
        en plataformas de coding como <strong><em class="italic">LeetCode</em> y viendo noticias o videos de IA</strong>.
    </p>
    
  </div>
  

</article>

