<!--

https://svgl.app/ 
https://tabler.io/icons

-->

<a 
    class={`
    flex justify-center items-center 
    rounded-full border border-white/10 
    bg-white/5     
    gap-x-2 py-1 px-2 md:y-2 md:px-4 
    text-xs lg:text-base
    hover:scale-110 hover:bg-white/10 
    transition
    `}

    {... Astro.props}
    target="_blank"
    rel="noopener noreferrer"
>
    <slot />
</a>