---
 const personalImageAlt = "Daniel Pizarro"
---

<article class="text-lg mb-3 text-pretty">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
        Hi, I'm Daniel Pizarro but my friends call me Danny. 
        I am a passionate <strong>22-year-old recent graduate in Computer Science</strong>, in the absence of presenting 
        my Final Degree Project (known as TFG in Spanish). I started programming with <strong><em class="italic">Scratch and Codecombat</em> when I was 15 years old
        in 4th of ESO (compulsory secundary education in Spain)</strong>, awakening my interest in programming.              
    </p>
    <p>
        My deep interest in technology and problem-solving steered me toward <strong>specializing in Artificial Intelligence 
        and algorithms</strong>. I find these fields to be the perfect blend of intellectual challenge and creativity.
        I thrive in collaborative environments, since I greatly value the exchange of ideas and I consider that working together is essential for the development of 
        innovative solutions.
    </p>
    <p>        
        Beyond academics, I am an energetic individual who enjoys staying active with <strong>sports such as paddle or volleyball</strong>. 
        My favourite hobby is <strong> playing video games </strong> with friends or alone.
        Additionally, I have a strong interest in solving problems on coding platforms like <strong><em class="italic">LeetCode</em> or watching AI videos</strong>.
        
    </p>
    
  </div>
  

</article>

